
<h4>Authors: </h4>

<% if @authors.any? %>
<ul>
<% @authors.sort_by(&:name).each do |author| %>
<li><a href="/authors/<%= author.id %>"><%= author.name %></a></li>
<% end %>
</ul>
<% else %>
<p>There are currently no authors to display.</p>
<% end %>
