
  <h3>Available Books</h3>

  <% if @books.any? %>
  <ul>
    <% @books.sort_by(&:name).each do |book| %>
    <li><a href="/books/<%= book.id %>"><%= book.name %></a></li>
    <% end %>
  </ul>
  <% else %>
  <p>There are currently no books to display.</p>
  <% end %>

  <a href="/books/new">Add a New Book</a>
  <form action="/books/search/" method="get">
    <div class="form-group">
      <label for="searched">Search</label>
      <input id="searched" name="searched" class="form-control" type="text">
    </div>
    <button type="submit">Go!</button>
  </form>
