
    <h1>Update <%= @book.name()%></h1>
    <form action="/books/<%= @book.id() %>" method="post">
      <input type="hidden" name="_method" value="patch">

      <label for="name">Rename Book</label>
      <input type="text" name="name" id="name">

      <label for="genre">Change Genre</label>
      <input type="text" name="genre" id="genre">

      <label for="isbn">Change isbn</label>
      <input type="text" name="isbn" id="isbn">

      <button type="submit">Update</button>
    </form>

    <form action="/books/<%= @book.id() %> /addAuthor" method="post">
      <input type="hidden" name="_method" value="patch">

      <label for="author_id">Author ID</label>
      <input type="text" name="author_id" id="author_id">

      <button type="submit">Add</button>
    </form>

    <p><a href="/books">Return to Book List</a></p>

    <form action="/books/<%= @book.id() %>" method="post">
      <input type="hidden" name="_method" value="delete">

      <button type="submit">Delete Book</button>
    </form>
