
    <h1>Add a new book</h1>

<form action="/books" method="post">

  <div class="form-group">

    <label for="book_name">Book name</label>
    <input id="n" name="book_name" class="form-control" type="text">

    <label for="book_genre">Book Genre</label>
    <input id="n" name="book_genre" class="form-control" type="text">

    <label for="isbn">Book isbn</label>
    <input id="n" name="isbn" class="form-control" type="text">

  </div>

  <button type="submit" class="btn">Go!</button>
</form>
