<!DOCTYPE html>
<html>
  <head>
    <title>New Book</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Add a new book</h1>

<form action="/books" method="post">

  <div class="form-group">

    <label for="book_name">Book name</label>
    <input id="n" name="book_name" class="form-control" type="text">

    <label for="book_year">Book Year</label>
    <input id="n" name="book_year" class="form-control" type="text">

    <label for="book_genre">Book Genre</label>
    <input id="n" name="book_genre" class="form-control" type="text">

    <label for="book_author">Book Artist</label>
    <input id="n" name="book_author" class="form-control" type="text">

  </div>

  <button type="submit" class="btn">Go!</button>
</form>

  </body>
</html>
