
    <h2>Search Results</h2>
    <% if @book != nil %>
    <ul>
      <% @book.sort.each do |book| %>
      <li><a href="/books/<%= book.id %>"><%= book.name %></a></li>
      <% end %>
    </ul>
    <% else %>
    <p>There are currently no books to display.</p>
    <% end %>

    <a href="/books">Return to Book List</a>
